<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Address successfully added</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div class="container text-center">
  <h3>Address successfully added</h3>
  <h4><a th:href="@{/home/account}">Go to your account</a></h4>
</div>
</body>
</html>