<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>admin account</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="m-3">
  <a th:href="@{/admins/orders}"><button type="submit" class="btn btn-success">All orders</button></a>
  <a th:href="@{/admins/products}"><button type="submit" class="btn btn-success">Products</button></a>
  <a th:href="@{/admins/statistics}"><button type="submit" class="btn btn-success">Statistics</button></a>
</div>


</body>
</html>