<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
    <link th:href="@{/style/basket.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container text-center mt-5">
    <h3 class="text-center">Your Basket</h3>
    <div class="card-block">
        <table class="table table-hover mt-5">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${basket}">
                <td th:text="${product.getProductName()}"></td>
                <td th:text="${product.getAmount()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td>
                    <img th:src="'data:jpg;base64,' + ${imgUtil.getImgData(product.getProductImage())}"
                         class="w-100"
                         alt="no pic"/>
                </td>
                <td>
                    <form th:action="@{/home/basket/delete/{id}(id = ${product.id})}" th:object="${product}"
                          method="post">
                        <button type="submit" class="btn btn-success">DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="container m-3">
            <div th:text="'Total amount of products ' + ${count}"></div>
        </div>
        <div class="container m-3">
            <div th:text="'Total price of purchase ' + ${totalPrice}"></div>
        </div>

        <form th:action="@{/home/basket/delete}" method="post">
            <button type="submit" class="btn btn-success">DELETE ALL</button>
        </form>
        <form th:action="@{/home/order}" method="get">
            <button type="submit" class="btn btn-success">BUY</button>
        </form>
    </div>
</div>
</body>
</html>