<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/details.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container centered mt-5 mb-5 ml-auto mr-auto">
    <form th:action="@{/home/basket/add/{id}(id = ${product.id})}" th:object="${product}" method="post">
        <div class="card" style="width: 60rem;">
            <img th:src="'data:jpg;base64,' + ${imgUtil.getImgData(product.getProductImage())}" class="card-img-top"
                 alt="no image yet"/>
            <div class="card-body">
                <h5 class="card-title" th:text="${product.getProductName}"></h5>
                <p class="card-text" th:text="${product.getProductDescription()}"></p>
                <p class="card-text" th:text="'Inhabitants: ' + ${product.getInhabitants()}"></p>
                <p class="card-text" th:text="'Price: ' + ${product.getPrice()}"></p>
                <button type="submit" class="btn btn-success">ADD TO CART</button>
            </div>
        </div>
    </form>
</div>



</body>
</html>