<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container text-center mt-5" >
    <h3 class="text-center">Your account</h3>
    <div class="card-block">
        <table class="table table-hover mt-5">
            <thead>
            <tr>
                <th>ID</th>
                <th>Products</th>
                <th>Total price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Payment method</th>
                <th>Payment status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.getId()}"></td>
                <td>
                    <form th:action="@{/home/account/history/{idOrder}(idOrder = ${order.id})}" th:object="${order}"
                          method="get">
                        <button type="submit" class="btn btn-success">See products</button>
                    </form>
                </td>
                <td th:text="${order.getOrderPrice()}"></td>
                <td th:text="${order.getDateOrder()}"></td>
                <td th:text="${order.getOrderStatus()}"></td>
                <td th:text="${order.getPaymentMethod()}"></td>
                <td th:text="${order.getPaymentStatus()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="m-5">
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/home/account/history/page/' + ${totalPages}}">Previous</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
        <div class="p-2">
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/home/account/history/page/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
    </span>
        </div>
        <div class="p-2">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/home/account/history/page/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
    </div>
</div>
</body>
</html>