<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<form action="process" method="post">
    <div class="container mt-5">
        <h3 class="text-center">Login form</h3>
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter here">
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="userPassword" aria-describedby="emailHelp" placeholder="Enter here">
        </div>

    </div>
    <div class="container text-center">
        <button type="submit" class="btn btn-success">Sign in</button>
    </div>
</form>
<form th:action="@{/registration}" th:method="post">
    <div class="container mt-3">
        <h5 class="text-center">or</h5>
        <div class="container text-center mt-3">
            <button type="submit" class="btn btn-success">Sign up</button>
        </div>
    </div>

</form>

</body>
</html>