<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="list-group mt-3">
    <a th:href="@{/home/catalog/filter(idCategory = 1)}" class="list-group-item list-group-item-action active">
        Planets
    </a>
    <a th:href="@{/home/catalog/filter(idCategory = 2)}" class="list-group-item list-group-item-action">Galaxies</a>
    <a th:href="@{/home/catalog/filter(idCategory = 3)}" class="list-group-item list-group-item-action">Comets</a>
    <div class="container m-3">
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio0"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">Planets</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">Galaxies</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                       value="option3">
                <label class="form-check-label" for="inlineRadio3">Comets</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 product grid" th:each="product : ${products}">
            <form th:action="@{/home/basket/add/{id}(id = ${product.id})}" th:object="${product}" method="post">
                <div class="image">
                    <a th:href="@{/home/catalog/{id}(id = ${product.id})}">
                        <img th:src="'data:jpg;base64,' + ${imgUtil.getImgData(product.getProductImage())}"
                             class="w-100"
                             alt="no pic"/>
                        <div class="overlay">
                            <div class="detail">View Details</div>
                        </div>
                    </a>
                </div>
                <h5 class="text-center" th:text="${product.getProductName}"></h5>
                <p class="text-center" th:text="'Price: ' + ${product.getPrice()}"></p>
                <button type="submit" class="btn btn-success">ADD TO CART</button>
            </form>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>