<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>filtered products</title>
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="row">
    <div class="col-md-4 product grid" th:each="product : ${products}">
        <div class="image">
            <a th:href="@{/catalog/{id}(id = ${product.id})}">
                <img th:src="'data:jpg;base64,' + ${imgUtil.getImgData(product.getProductImage())}" class="w-100"
                     alt="..."/>
                <div class="overlay">
                    <div class="detail">View Details</div>
                </div>
            </a>
        </div>
        <h5 class="text-center" th:text="${product.getProductName}"></h5>
        <p class="text-center" th:text="'Price: ' + ${product.getPrice()}"></p>
        <a th:href="@{home/basket/add/{id}(id = ${product.id})}" class="btn buy">BUY</a>
    </div>
</div>
</div>
</body>
</html>