<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration process</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container text-center">
    <h3>You have signed up successfully!</h3>
    <h4><a th:href="@{/login}">Click here to Login</a></h4>
</div>
</body>
</html>