<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/style/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="container text-center mt-5" >
    <h3 class="text-center">Your address</h3>
    <div class="card-block">
        <table class="table table-hover mt-5">
            <thead>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Street</th>
                <th>House</th>
                <th>Flat</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}">
                <td th:text="${address.getCountry()}"></td>
                <td th:text="${address.getCity()}"></td>
                <td th:text="${address.getPostcode()}"></td>
                <td th:text="${address.getStreet()}"></td>
                <td th:text="${address.getHouse()}"></td>
                <td th:text="${address.getFlat()}"></td>
                <td>
                    <form th:action="@{/home/account/address/{id}(id = ${address.getId()})}" th:object="${address}"
                          method="post">
                        <button type="submit" class="btn btn-success">DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/home/account/address/{userId}(userId = ${user.id})}"><button type="submit" class="btn btn-success">Add address</button></a>
    </div>
</div>

</body>
</html>